# Quantile-based discretization function
source: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

In [2]:
import pandas as pd

In [19]:
df = pd.DataFrame(columns=['Purchases','Labels'])
df.Purchases = [10000,20000,30000,40000,500,1000,15000,16000]
df

   Purchases Labels
0      10000    NaN
1      20000    NaN
2      30000    NaN
3      40000    NaN
4        500    NaN
5       1000    NaN
6      15000    NaN
7      16000    NaN

In [21]:
df.Labels = pd.qcut(df.Purchases, 5, labels=["Very Low","Low","Medium", "High","Very High"]).tolist()
df

   Purchases     Labels
0      10000        Low
1      20000       High
2      30000  Very High
3      40000  Very High
4        500   Very Low
5       1000   Very Low
6      15000     Medium
7      16000     Medium